.body,
html {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url(../assets/img/knight-1587138709323-457.jpg);
    background-position: center center;
    background-size: cover;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
        "life life . death death"
        "life life . death death"
        "life life dice death death"
        "life life . death death";
    height: 100vh;
    width: 100vw;
}

.text-container-life {
    grid-area: life;
    margin: 1em 0.2em 1em 1em;
    width: 85%;
    height: 93%;
    background: rgba(252, 252, 252, 0.1);
    border: 3px solid #F8F8F8;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.text-container-life>div {
    grid-area: liLife;
    width: 85%;
    height: 10%;
    margin: 1.4em 0em 0 0.7em;
    padding: 0em 0em 0em 2em;
    background: rgba(78, 76, 76, 0.418);
    border: 1px solid #F8F8F7;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: #F8F8F7;
}


/*Death line properties*/

.text-container-death {
    grid-area: death;
    margin: 1.4em 2em 0 0.7em;
    width: 80%;
    height: 93%;
    background: rgba(0, 0, 0, 0);
    border: 3px solid #0E1111;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-container-death>div {
    display: flex;
    width: 85%;
    height: 10%;
    margin: 1.4em 2em 0 1em;
    padding: 0em 0em 0em 2em;
    background: rgba(196, 196, 196, 0.1);
    border: 1px solid #000000;
    font-size: 20px;
    font-weight: 600;
    word-wrap: break-word;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    color: rgb(255, 0, 0);
}

/*Dice properties*/
.dice-container {
    grid-area: dice;
    position: relative;
    text-align: center;
}
