
.body,
html {
    height: 100%;
    width: 100%;
    background: url(../assets/img/knight.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}
.header {
    background: rgba(24, 23, 23, 0.863);
    height: 0.3em;
    padding: 1.3em;
    margin:-0.4em -0.4em 0em -0.4em;
    text-align: center;
    font-size: 1rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #F8F8F7;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.2rem;
    grid-template-areas:
        ". life ."
        ". life ."
        ". dice ."
        ". . .";
}

.text-container-life {
    grid-area: life;
}

.text-container-life>div {
    width: 20rem;
    height: 6rem;
    margin: 0.3rem 0 0 0;
    padding: 0 0 0 1rem;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    overflow: auto;
    letter-spacing: 0.1em;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(24, 23, 23, 0.863);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: #F8F8F7;
}

/*Death line properties*/
.text-container-death {
    grid-area: death;
    display: none;
}

.text-container-death>div {
    width: 20rem;
    height: 6rem;
    margin: 0.3rem 0 0 0;
    padding: 0 0 0 1rem;
    font-size: 1.5em;
    font-weight: 100;
    text-align: center;
    overflow: auto;
    letter-spacing: 0.1em;
    border: 1px solid rgb(0, 0, 0);
    background: rgba(24, 23, 23, 0.863);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: rgb(255, 0, 0);
}

/*Dice properties*/
.dice-container {
    grid-area: dice;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../assets/img/dice.svg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 6rem;
    height: 6rem;
}

/*resolution higher than 600px*/
@media (min-width: 800px) {
    .body,
    html {
        margin: 0;
        padding: 0;
        background-image: url(../assets/img/knight.jpg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .header {
        background: rgba(24, 23, 23, 0.863);
        height: 1em;
        padding: 1em;
        margin:-0.4em -0.4em 0em -0.4em;
        text-align: center;
        font-size: 1.7rem;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: #F8F8F7;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0.1rem;
        grid-template-areas:
            ". life ."
            ". life ."
            ". life ."
            ". dice .";
    }

    .text-container-life {
        grid-area: life;
        display: block;
    }

    .text-container-life>div {
        width: 40rem;
        height: 8rem;
        margin: 0.5rem 0 0 0;
        padding: 0 0 0 1rem;
        text-align: center;
        font-size: 1.7rem;
        overflow: auto;
        font-weight: 100;
        letter-spacing: 0.3em;
        border: 1px solid rgb(0, 0, 0);
        background: rgba(24, 23, 23, 0.863);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: #F8F8F7;
    }

    /*Death line properties*/
    .text-container-death {
        grid-area: death;
        display: none;
    }

    .text-container-death>div {
        width: 40rem;
        height: 8rem;
        margin: 0.5rem 0 0 0;
        padding: 0 0 0 1rem;
        font-size: 1.7rem;
        font-weight: 100;
        overflow: auto;
        text-align: center;
        letter-spacing: 0.3em;
        border: 1px solid rgb(0, 0, 0);
        background: rgba(24, 23, 23, 0.849);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: rgba(255, 0, 0, 0.938);
    }

    /*Dice properties*/
    .dice-container {
        grid-area: dice;
        display: block;
        margin-left: auto;
        margin-right: auto;
        background-image: url(../assets/img/dice.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 8rem;
        height: 8rem;
    }
}

/*
##Device = Desktops
##Screen = 1200px to higher resolution desktops
*/
@media (min-width:1500px) {

    .body,
    html {
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        background-image: url(../assets/img/knight.jpg);
        background-position: center center;
        background-size: cover;
    }

    .main-container {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(4, 1fr);
        gap: 0.3rem;
        grid-template-areas:
            "life life . death death"
            "life life . death death"
            "life life dice death death"
            "life life . death death";
    }

    .text-container-life {
        grid-area: life;
        display: block;
    }

    .text-container-life>div {
        width: 44rem;
        height: 9rem;
        margin: 1rem 0rem 0 0.6rem;
        padding: 0rem 0rem 0rem 2rem;
        background: rgba(24, 23, 23, 0.849);
        border: 1px solid rgb(0, 0, 0);
        font-size: 1.6rem;
        font-weight: 600;
        overflow: auto;
        text-align: center;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        color: #F8F8F7;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    /*Death line properties*/
    .text-container-death {
        grid-area: death;
        display: block;
    }

    .text-container-death>div {
        width: 44rem;
        height: 9rem;
        margin: 1rem 0rem 0 0.6rem;
        padding: 0rem 0rem 0rem 2rem;
        background: rgba(24, 23, 23, 0.849);
        border: 1px solid rgb(0, 0, 0);
        text-align: center;
        font-size: 1.6rem;
        font-weight: 600;
        overflow: auto;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2em;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        color: rgba(255, 0, 0, 0.938);
    }

    /*Dice properties*/
    .dice-container {
        grid-area: dice;
        background-image: url(../assets/img/dice.svg);
        background-repeat: no-repeat;
        background-size: contain;
        align-items: start;
        width: 12rem;
        height: 12rem;
    }
}